{% extends "base.html" %} {% block content %}
<h1 class="h4 mb-4">新增股票紀錄</h1>

<form method="post" action="/stock" class="col-12 col-md-8 col-lg-6">
  <div class="mb-3">
    <label for="trade-type" class="form-label">交易類型</label>
    <select class="form-select" id="trade-type" name="trade-type">
      <option value="buy">買進</option>
      <option value="sell">賣出</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="stock-id" class="form-label">股票代號</label>
    <input type="text" class="form-control" id="stock-id" name="stock-id" required />
  </div>

  <div class="mb-3">
    <label for="stock-num" class="form-label">成交股數</label>
    <input type="number" min="1" class="form-control" id="stock-num" name="stock-num" required />
  </div>

  <div class="mb-3">
    <label for="stock-price" class="form-label">成交單價</label>
    <input type="number" min="0" step="0.01" class="form-control" id="stock-price" name="stock-price" required />
  </div>

  <div class="mb-3">
    <label for="processing-fee" class="form-label">手續費</label>
    <input type="number" min="0" class="form-control" id="processing-fee" name="processing-fee" />
  </div>

  <div class="mb-3">
    <label for="tax" class="form-label">交易稅</label>
    <input type="number" min="0" class="form-control" id="tax" name="tax" />
  </div>

  <div class="mb-3">
    <label for="date" class="form-label">日期</label>
    <input type="date" class="form-control" id="date" name="date" />
  </div>

  <button type="submit" class="btn btn-primary">新增</button>
</form>
{% endblock %}
